<div class="cta-block section">
  <div class="container">
    <div class="columns is-justify-content-center ">
      <div class="column is-7-desktop is-12-tablet">
        <div class="cta-content has-text-centered">
          <!--					<i class="icofont-diamond text-lg text-color"></i>-->
          <!--					<i class=""></i>-->
          <img src="images/bg/image-6.png">
          <h2 class="text-white text-lg mb-6 mt-4">在路上，金安与您同在</h2>
<!--          <a href="donation.html" class="btn btn-main is-rounded">了解课程</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
