<!-- footer Start -->
<footer class="footer section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-1-desktop-only is-1-tablet-only">
        <div class="footer-widget widget">
          <h4 class="text-white">公司名称：</h4>
          <p>北京金安护行教育科技有限公司</p>
        </div>
      </div>
      <div class="column is-5-desktop is-6-tablet">
        <div class="widget footer-widget">
          <h4 class="text-white">公司地址：</h4>
          <p>北京市 海淀区 白家疃 尚品园3号楼2层230室</p>
        </div>
      </div>
    </div>

    <div class="columns is-multiline">
      <div class="column is-10-desktop is-1-tablet">
        <div class="widget footer-widget">
          <h4 class="text-white">友情链接：</h4>
          <ul class="list-unstyled footer-menu lh-35">
            <li style="display: inline;"><a href="https://mps.gjzwfw.gov.cn">公安部</a></li>
            <li style="display: inline;margin-left: 30px;"><a href="https://jtgl.beijing.gov.cn/jgj/jgj_page_key/index.html">交通管理局</a></li>
            <li style="display: inline;margin-left: 30px;"><a href="https://www.didiglobal.com">滴滴出行</a></li>
            <li style="display: inline;margin-left: 30px;"><a href="http://www.hongchengweixin.com">宏诚伟信</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-btm py-5">
      <div class="columns is-justify-content-center">
        <div class="column is-12">
          <div class="copyright has-text-centered">
            <small style="color: #c79200">&copy; 2024 版权所有·金安护行</small>
<!--            <small style="color: #c79200">&copy; 2024 版权所有·金安护行</small>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
