<!-- Section Intro Start -->
<section class="section intro">
	<div class="container">
		<div class="columns is-align-items-center is-desktop mb-6">
			<div class="column is-6-desktop">
				<div class="section-title mb-0">
					<span class="text-color">我们能做什么</span>
					<h2 class="mt-4 content-title">培养安全意识，提高驾驶技能，<br>使出行安全可靠。</h2>
				</div>
			</div>
			<div class="column is-6-desktop">
        <span class="text-color">业务范围：</span>
				<p>
          - 提供城市内日常交通路段的驾驶训练。<br>
          - 针对自驾游和特殊路况（如夜间、恶劣天气条件等）的驾驶技能训练。<br>
          - 定制化驾驶学习计划，满足不同驾驶者的个性化需求。
        </p>
			</div>
		</div>
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="images/about/image-1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">个性化·定制驾驶训练课程</h4>
					<p>根据每位客户的驾驶水平、需求和目标，定制化个性化的学习计划。
            能够以最有效的方式提升其驾驶技能，这种服务的个性化程度在市场上独一无二</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="images/about/image-2.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">专业化·应急处理能力训练</h4>
					<p>提供专业的驾驶陪练服务，包括安全教育、应急处理能力培养外，还有经验丰富的教练进行车祸现场模拟体验</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/about/image-3.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">服务化·提供专属增值服务</h4>
					<p>学员顺利结课，免费获得一年拖车服务（覆盖全国）</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/about/image-1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">社区化·驾驶爱好者社区</h4>
					<p>让驾驶爱好者和学员能够分享自己的驾驶经验、学习心得，促进用户间的交流和经验分享，也为自驾旅行提供寻伴同行</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro END -->
