<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-9-desktop is-10-tablet">
				<div class="block has-text-centered">
					<span class="is-block mb-4 text-white is-capitalized">守护每一次出行安全</span>
					<h1 class="mb-5">金安护行 </h1>
					<p class="mb-6">一个致力于提高“驾驶安全”和“驾驶技术”的创新汽车陪练品牌。<br>
            我们的目标是让每一位学员都能在道路上安全、自信地驾驶，无论是日常通勤还是长途自驾游。</p>
					<a href="#" target="_blank" class="btn btn-main is-rounded">开启守护</a>
				</div>
			</div>
		</div>
	</div>
</section>
