<div class="volunteer section ">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-7-desktop is-3-tablet">
        <div class="volunteer-content">
          <a href="#">
            <img src="images/bg/yewei.jpg" alt="" sizes="w-30">
          </a>
          <h2 class="text-lg mb-5 mt-3">一起来体验驾驶的乐趣</h2>
          <p>开启您的驾驶之旅，感受前所未有的自由与乐趣。<br>
            在“金安护行”，我们不仅关注驾驶的技术层面，更是致力于让每一次驾驶都成为一次难忘的体验。
            无论您是初学者渴望在道路上稳稳当当，还是资深驾驶者追求技能的精进，我们的专业陪练团队都将与您同行，确保您在安全的环境中提升自己。
          </p>
          <p>我们的陪练课程覆盖日常通勤路段、长途旅行规划，甚至特殊路况应对，全方位满足您的驾驶需求。
            我们培养您在紧急情况下的应变能力，让安全成为您的第二天性。加入我们，体验在指尖流转的每一份力量，每一个转弯的自信，以及每一次加速后的畅快。</p>
          <p>我们不只是教授驾驶技能，更是您在探索驾驶乐趣路上的伙伴。"金安护行"，让每一次启动引擎都充满期待，让每一段旅程都充满笑声。
            现在就加入我们，让我们一起探索、学习、成长，并体验驾驶的真正乐趣吧！</p>

          <!--					<h2 class="mt-6 mb-5">合作伙伴</h2>-->
          <!--					<div class="clients-wrap">-->
          <!--						<a href="#">-->
          <!--							<img src="images/clients/client1.png" alt="" class="">-->
          <!--						</a>-->
          <!--					</div>-->
        </div>
      </div>

      <div class="column is-5-desktop is-12-tablet">
        <div class="volunteer-form-wrap">
          <span class="text-white">参与到我们之中来</span>
          <h2 class="mb-6 text-lg text-white">成为一名驾驶高手</h2>
        </div>
      </div>
    </div>
  </div>
</div>
